@keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.emoji {
  animation: spin 4s linear infinite;
  -webkit-animation: spin 4s linear infinite;
  font-size: 2rem;
}

.herd {
  display: flex;
  flex-direction: column;
}
