.button {
  color: white;
  border: 0;
  font-size: 1.2rem;
  padding: 0.5em;
  font-family: 'Victor Mono';
  border: 2px solid #e92741;
  background-color: black;
}

.button:hover {
  border-color: white;
  cursor: pointer;
}
