.main {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  min-height: 100vh;
}

.emojiBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  min-width: 300px;
}

.welcome {
  font-size: 2rem;
  padding-bottom: 10px;
}
