.main {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 80%;
  max-width: 80%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-self: space-around;
  flex-wrap: wrap;
  padding-left: 70px;
}

.buttons > button {
  margin-bottom: 10px;
}

.buttons:last-child > button {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
  }

  .buttons {
    flex-direction: row;
    padding-top: 70px;
    padding-left: 0;
  }

  .buttons > button {
    margin-right: 10px;
  }
}

.top {
  font-size: 8vw;
  margin-right: auto;
  font-family: 'Victor Mono', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.hey {
  background-color: #00f396db;
  font-style: italic;
}

.hey::selection {
  color: #00f396db;
  background-color: white;
}

.name {
  margin-right: auto;
  font-size: 18vw;
}

.description {
  padding-top: 10px;
  font-size: 4vw;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  background-color: black;
}

.secretTurtle {
  text-decoration: none;
  opacity: 0%;
}

.secretTurtle:hover {
  opacity: 100%;
}

.socials {
  margin-top: 20px;
}

.socials > a {
  margin-right: 20px;
}

.socials:last-child {
  margin-right: 0;
}

.layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media screen and (min-width: 800px) {
  .name {
    font-size: 8rem;
  }

  .description {
    font-size: 1.9rem;
  }

  .top {
    font-size: 3rem;
  }
}

/* Used from https://jarv.is/notes/css-waving-hand-emoji/ */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
