@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::selection {
  background-color: white;
  color: black;
}

h1 {
  font-size: clamp(65px, 10vw, 130px);
}

h2 {
  font-size: clamp(35px, 5vw, 70px);
}

a,
a:visited {
  color: #418fdd;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  ::selection {
    background-color: black;
    color: white;
  }
}

/* fonts */
@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/victormono/mediumItalic.otf');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/victormono/medium.otf');
  font-weight: 600;
  font-display: swap;
}
