@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');

:root {
  --darkmode-background: #0f0f0f;
  --darkmode-foreground: #ffffff;

  --lightmode-background: #ffffff;
  --lightmode-foreground: #0400db;
}

body {
  background-color: var(--darkmode-background);
  color: var(--darkmode-foreground);
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::selection {
  background-color: var(--darkmode-foreground);
  text-decoration-color: var(--darkmode-foreground);
  color: var(--darkmode-background);
}

path {
  stroke: var(--darkmode-foreground);
}

ul {
  list-style-type: '- ';
}

ul,
ol {
  list-style-position: inside;
}

h1 {
  font-size: clamp(3rem, 8vw, 5rem);
}

h3 {
  font-size: clamp(2.5rem, 6vw, 3rem);
  font-family: 'Apple Garamond';
  font-size: italic;
  text-decoration: underline;
}

h5 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

*::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

*::-webkit-scrollbar-track {
  background: var(--darkmode-background);
}

*::-webkit-scrollbar-thumb {
  background: var(--darkmode-foreground);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--lightmode-background);
    color: var(--lightmode-foreground);
  }

  ::selection {
    background-color: var(--lightmode-foreground);
    text-decoration-color: var(--lightmode-foreground);
    color: var(--lightmode-background);
  }

  *::-webkit-scrollbar-track {
    background: var(--lightmode-background);
  }

  *::-webkit-scrollbar-thumb {
    background: var(--lightmode-foreground);
  }

  path {
    stroke: var(--lightmode-foreground);
  }

  h1,
  h2 {
    background-color: var(--lightmode-foreground);
    color: var(--lightmode-background);
  }

  h1::selection,
  h2::selection,
  h3::selection {
    background-color: var(--lightmode-background);
    color: var(--lightmode-foreground);
  }

  p {
    color: var(--darkmode-background);
  }
}

.fadeUpAnimation,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  animation: fadeUp 1s;
}

@keyframes fadeUp {
  from {
    opacity: 0%;
    transform: translateY(20px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/regular.otf');
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('/fonts/apple-garamond/italic.ttf');
}
