.body {
  min-height: 100vh;
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-decoration: underline;
}

.subtitle {
  line-height: 1.5;
  font-size: 1.5rem;
}

.lostGif {
  height: 230px;
}
