.body {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body a {
  color: #00f396db;
  text-decoration: none;
}

.body a::selection {
  color: white;
  background-color: #00f396db;
}

.body a:hover,
.body a:focus,
.body a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.subtitle,
.description {
  text-align: center;
}

.title::selection,
.subtitle::selection,
.description::selection {
  background-color: #00f396db;
}

.subtitle {
  line-height: 1.5;
  font-size: 1.5rem;
}
