.body {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.title {
  font-size: 4rem;
}

.greenUnderline {
  display: inline;
  text-decoration: underline;
  text-decoration-color: #00f396db;
}

.about {
  font-size: 1.5rem;
  max-width: 1000px;
}
