.main {
  display: inline-flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
}

.top {
  font-size: 6vw;
  margin-right: auto;
  font-family: Victor Mono, monospace;
  font-weight: 500;
}

.hey {
  background-color: #00f396db;
  font-style: italic;
}

.hey::selection {
  color: #00f396db;
  background-color: white;
}

.name {
  margin-right: auto;
  font-size: 13vw;
  text-decoration: underline;
  text-decoration-color: #00f396db;
  font-weight: bold;
}

.description {
  padding-top: 10px;
  font-size: 4vw;
}

@media screen and (min-width: 800px) {
  .name {
    font-size: 7rem;
  }

  .description {
    font-size: 1.7rem;
  }

  .top {
    font-size: 3rem;
  }
}
