.main {
  display: inline-flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.top {
  font-size: 3rem;
  margin-right: auto;
  font-family: 'Victor Mono', monospace;
  font-weight: 500;
}

.hey {
  background-color: #00f396db;
  font-style: italic;
}

.hey::selection {
  color: #00f396db;
  background-color: white;
}

.name {
  margin-right: auto;
  font-size: 7rem;
  text-decoration: underline;
}
