@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');

html {
  background-color: black;
  color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::selection {
  color: white;
  background-color: #00f396db;
}

a {
  color: #00f396db;
}

/* fonts */
@font-face {
  font-family: 'victormono';
  src: url('/fonts/victormono/regular.otf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
